In [1]:
import os
import sys

# Import Code modules
module_path = os.path.abspath(os.path.join('../code'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
# Con'd import
from data_fetcher import DataFetcher
from endpoint_type import EndpointType
from db_connector import DBConnector
from flusurv_params import *
from fluview_params import *
from gft_params import *

db_connector = DBConnector()

In [3]:
flusurv_param = FluSurvParams(
    epiweeks = ["202003", "202004"], 
    regions = [FluSurvRegion.CA]
)

DataFetcher.fetch(EndpointType.FLUSURV, param=flusurv_param)

,release_date,location,issue,epiweek,lag,rate_age_0,rate_age_1,rate_age_2,rate_age_3,rate_age_4,rate_overall
0,2020-11-06,CA,202044,202003,41,3.5,1.5,2.6,5.2,12.0,4.4
1,2020-11-06,CA,202044,202004,40,1.5,2.1,1.7,5.5,17.6,4.9

In [8]:
fluview_param = FluViewParams(
    epiweeks = ["202001", "202002", "202008-202010"],
    regions = [FluViewRegion.CEN2, FluViewRegion.HHS1]
)

DataFetcher.fetch(
    endpoint = EndpointType.FLUVIEW, 
    param = fluview_param
)

,release_date,region,issue,epiweek,lag,num_ili,num_patients,num_providers,num_age_0,num_age_1,num_age_2,num_age_3,num_age_4,num_age_5,wili,ili
0,2021-10-08,cen2,202139,202001,91,15159,245889,383,4069,3952,None,4347,1547,1244,6.11285,6.16498
1,2021-10-08,hhs1,202139,202001,91,5394,126801,264,980,1379,None,1834,676,525,3.92170,4.25391
2,2021-10-08,cen2,202139,202002,90,13030,243510,385,2968,3839,None,3825,1378,1020,5.39452,5.35091
3,2021-10-08,hhs1,202139,202002,90,5310,136068,271,821,1618,None,1708,690,473,3.69926,3.90246
4,2021-10-08,cen2,202139,202008,84,11450,234069,384,2498,3879,None,3086,1156,831,5.31825,4.89172
5,2021-10-08,hhs1,202139,202008,84,7692,130014,268,989,2742,None,2406,958,597,5.68503,5.91629
6,2021-10-08,cen2,202139,202009,83,9908,236494,382,2104,3232,None,2772,1023,777,4.73338,4.18954
7,2021-10-08,hhs1,202139,202009,83,6319,133257,261,806,2040,None,2082,852,539,4.59296,4.74196
8,2021-10-08,cen2,202139,202010,82,11653,248556,381,2232,3720,None,3456,1343,902,5.08432,4.68828
9,2021-10-08,hhs1,202139,202010,82,5944,129920,264,758,1912,None,1921,829,524,4.27651,4.57512

In [9]:
DBConnector.resolveTableName(EndpointType.FLUSURV)

'flusurv'

In [13]:
query = f"""
select * from {DBConnector.resolveTableName(EndpointType.FLUVIEW)}
group by region
"""

db_connector.read(query)

,release_date,region,issue,epiweek,lag,num_ili,num_patients,num_providers,num_age_0,num_age_1,num_age_2,num_age_3,num_age_4,num_age_5,wili,ili
0,2021-10-08,cen2,202139,202001,91,15159,245889,383,4069,3952,None,4347,1547,1244,6.11285,6.16498
1,2021-10-08,hhs1,202139,202001,91,5394,126801,264,980,1379,None,1834,676,525,3.92170,4.25391